<table border="1">
	<tr>
		<td>Author:</td>
		<td><f:escape>{item.author}</f:escape></td>
	</tr>
	<tr>
		<td>Content:</td>
		<td><f:escape>{item.content}</f:escape></td>
	</tr>
	<tr>
		<td>Date:</td>
		<td>{item.date}</td>
	</tr>
	<tr>
		<td>Description:</td>
		<td>{item.description}</td>
	</tr>
	<tr>
		<td>Permalink:</td>
		<td>{item.permalink} [<a href="{item.permalink}">open</a>]</td>
	</tr>
	<tr>
		<td>Timestamp:</td>
		<td>{item.timestamp}</td>
	</tr>
	<tr>
		<td>Title:</td>
		<td><f:escape>{item.title}</f:escape></td>
	</tr>
	<tr>
		<td>Type:</td>
		<td>{item.type}</td>
	</tr>
	<tr>
		<td>Enclosures</td>
		<td>
<f:if condition="{item.enclosures}">
			<table border="1">
	<f:for each="{item.enclosures}" as="enclosure">
				<tr>
					<td>src:</td>
					<td><f:escape>{enclosure.src}</f:escape> [<a href="{enclosure.src}">open</a>]</td>
				</tr>
				<tr>
					<td>title:</td>
					<td><f:escape>{enclosure.title}</f:escape></td>
				</tr>
				<tr>
					<td>type:</td>
					<td><f:escape>{enclosure.type}</f:escape></td>
				</tr>
	</f:for>
			</table>
</f:if>
		</td>
	</tr>
</table>
<hr />