<table border="1">
	<tr>
		<td>Author:</td>
		<td>
			<table border="1">
				<tr>
					<td>name:</td>
					<td><f:escape>{item.author.name}</f:escape></td>
				</tr>
<f:if condition="{item.author.e-mail}">
				<tr>
					<td>e-mail:</td>
					<td><f:escape>{item.author.e-mail}</f:escape></td>
				</tr>
</f:if>
<f:if condition="{item.author.link}">
				<tr>
					<td>link:</td>
					<td>{item.author.link} [<a href="<f:escape>{item.author.link}</f:escape>">open</a>]</td>
				</tr>
</f:if>
			</table>
		</td>
	</tr>
<f:if condition="{item.content}">
	<tr>
		<td>Content:</td>
		<td><f:escape>{item.content}</f:escape></td>
	</tr>
</f:if>
	<tr>
		<td>Date:</td>
		<td>{item.date}</td>
	</tr>
<f:if condition="{item.description}">
	<tr>
		<td>Description:</td>
		<td>{item.description}</td>
	</tr>
</f:if>
	<tr>
		<td>Permalink:</td>
		<td>{item.permalink} [<a href="<f:escape>{item.permalink}</f:escape>">open</a>]</td>
	</tr>
<f:if condition="{item.rating}">
	<tr>
		<td>Rating:</td>
		<td>
			<table border="1">
				<tr>
					<td>average:</td>
					<td>{item.rating.average}</td>
				</tr>
				<tr>
					<td>max:</td>
					<td>{item.rating.max}</td>
				</tr>
				<tr>
					<td>min:</td>
					<td>{item.rating.min}</td>
				</tr>
				<tr>
					<td>numRaters:</td>
					<td>{item.rating.numRaters}</td>
				</tr>
			</table>
		</td>
	</tr>
</f:if>
<f:if condition="{item.statistics}">
	<tr>
		<td>Statistics:</td>
		<td>
			<table border="1">
				<tr>
					<td>favoriteCount:</td>
					<td>{item.statistics.favoriteCount}</td>
				</tr>
				<tr>
					<td>viewCount:</td>
					<td>{item.statistics.viewCount}</td>
				</tr>
			</table>
		</td>
	</tr>
</f:if>
	<tr>
		<td>Timestamp:</td>
		<td>{item.timestamp}</td>
	</tr>
	<tr>
		<td>Title:</td>
		<td><f:escape>{item.title}</f:escape></td>
	</tr>
	<tr>
		<td>Type:</td>
		<td>{item.type}</td>
	</tr>
	<tr>
		<td>Enclosures:</td>
		<td>
<f:if condition="{item.enclosures}">
	<f:for each="{item.enclosures}" as="enclosure">
			<table border="1">
			<f:if condition="{enclosure.duration}">
				<tr>
					<td>duration:</td>
					<td><f:escape>{enclosure.duration}</f:escape></td>
				</tr>
			</f:if>
				<tr>
					<td>medium:</td>
					<td><f:escape>{enclosure.medium}</f:escape></td>
				</tr>
				<tr>
					<td>src:</td>
					<td>{enclosure.src} [<a href="<f:escape>{enclosure.src}</f:escape>">open</a>]</td>
				</tr>
				<tr>
					<td>thumbnail.src:</td>
					<td>{enclosure.thumbnail.src} [<a href="<f:escape>{enclosure.thumbnail.src}</f:escape>">open</a>]</td>
				</tr>
				<tr>
					<td>title:</td>
					<td><f:escape>{enclosure.title}</f:escape></td>
				</tr>
				<tr>
					<td>type:</td>
					<td><f:escape>{enclosure.type}</f:escape></td>
				</tr>
			</table>
	</f:for>
</f:if>
		</td>
	</tr>
</table>
<hr />