{namespace sp=Tx_Simplepie_ViewHelpers}

{item.feedTitle}

<table border="1">
<f:if condition="{item.author}">
	<tr>
		<td>author:</td>
		<td>
			<table border="1">
<f:if condition="{item.author.e-mail}">
				<tr>
					<td>e-mail:</td>
					<td><f:escape>{item.author.e-mail}</f:escape></td>
				</tr>
</f:if>
<f:if condition="{item.author.link}">
				<tr>
					<td>link:</td>
					<td>{item.author.link} [<a href="{item.author.link}">open</a>]</td>
				</tr>
</f:if>
<f:if condition="{item.author.name}">
				<tr>
					<td>name:</td>
					<td><f:escape>{item.author.name}</f:escape></td>
				</tr>
</f:if>
<f:if condition="{item.author.realName}">
				<tr>
					<td>realName:</td>
					<td><f:escape>{item.author.realName}</f:escape></td>
				</tr>
</f:if>
<f:if condition="{item.author.thumbnail.src}">
				<tr>
					<td>thumbnail.src:</td>
					<td>{item.author.thumbnail.src} [<a href="{item.author.thumbnail.src}">open</a>]</td>
				</tr>
</f:if>
			</table>
		</td>
	</tr>
</f:if>
<f:if condition="{item.content}">
	<tr>
		<td>content:</td>
		<td>{item.content}<hr /><sp:null>{item.content}</sp:null></td>
	</tr>
</f:if>
	<tr>
		<td>date:</td>
		<td>{item.date}</td>
	</tr>
<f:if condition="{item.description}">
	<tr>
		<td>description:</td>
		<td>{item.description}<hr /><sp:null>{item.description}</sp:null></td>
	</tr>
</f:if>
	<tr>
		<td>permalink:</td>
		<td>{item.permalink} [<a href="{item.permalink}">open</a>]</td>
	</tr>
<f:if condition="{item.rating}">
	<tr>
		<td>rating:</td>
		<td>
			<table border="1">
				<tr>
					<td>average:</td>
					<td>{item.rating.average}</td>
				</tr>
				<tr>
					<td>max:</td>
					<td>{item.rating.max}</td>
				</tr>
				<tr>
					<td>min:</td>
					<td>{item.rating.min}</td>
				</tr>
				<tr>
					<td>numRaters:</td>
					<td>{item.rating.numRaters}</td>
				</tr>
			</table>
		</td>
	</tr>
</f:if>
<f:if condition="{item.statistics}">
	<tr>
		<td>statistics:</td>
		<td>
			<table border="1">
				<tr>
					<td>favoriteCount:</td>
					<td>{item.statistics.favoriteCount}</td>
				</tr>
				<tr>
					<td>viewCount:</td>
					<td>{item.statistics.viewCount}</td>
				</tr>
			</table>
		</td>
	</tr>
</f:if>
	<tr>
		<td>timestamp:</td>
		<td>{item.timestamp}</td>
	</tr>
	<tr>
		<td>title:</td>
		<td>{item.title}<hr /><sp:null>{item.title}</sp:null></td>
	</tr>
	<tr>
		<td>type:</td>
		<td>{item.type}</td>
	</tr>
<f:if condition="{item.enclosures}">
	<tr>
		<td>enclosures:</td>
		<td>
		<f:for each="{item.enclosures}" as="enclosure">
			<table border="1">
			<f:if condition="{enclosure.duration}">
				<tr>
					<td>duration:</td>
					<td><f:escape>{enclosure.duration}</f:escape></td>
				</tr>
			</f:if>
				<tr>
					<td>medium:</td>
					<td><f:escape>{enclosure.medium}</f:escape></td>
				</tr>
				<tr>
					<td>src:</td>
					<td>{enclosure.src} [<a href="{enclosure.src}">open</a>]</td>
				</tr>
				<tr>
					<td>thumbnail.src:</td>
					<td>{enclosure.thumbnail.src} [<a href="{enclosure.thumbnail.src}">open</a>]</td>
				</tr>
				<tr>
					<td>title:</td>
					<td><f:escape>{enclosure.title}</f:escape></td>
				</tr>
				<tr>
					<td>type:</td>
					<td><f:escape>{enclosure.type}</f:escape></td>
				</tr>
			</table>
		</f:for>
		</td>
	</tr>
</f:if>
</table>
<hr />