<!-- BEGIN simplepie -->
<div class="simplepie<f:if condition="{feed.styleClass}"> {feed.styleClass}</f:if>">

<div class="simplepie_ajax_loading{ajaxuid}">
	<!-- Loading gif -->
</div>

<f:if condition="{jQueryDisable} == 0">
<div class="simplepie_ajax_prev{ajaxuid}">
	<< prev item
</div>
<div class="simplepie_ajax_next{ajaxuid}">
	next item >>
</div>
</f:if>

<div>
	<table border="1">
		<tr>
			<td>feed.title</td>
			<td>{feed.title}</td>
		</tr>
		<tr>
			<td>feed.sorting</td>
			<td>{feed.sorting}</td>
		</tr>
		<tr>
			<td>feed.styleClass</td>
			<td>{feed.styleClass}</td>
		</tr>
	</table>
</div>

<div class="simplepie_ajax_content{ajaxuid}">
<f:for each="{feedItems}" as="item">
	<f:render partial="FeedItem" arguments="{item: item}" />
</f:for>
</div>
</div><!-- END simplepie -->